@charset "utf-8";

*{margin:0;padding:0;}

#wrap{width:600px; margin:0 auto;}

header{
    width:600px;
    height:100px;
    margin-top:30px;
    color:white;
    background-color:#006699;
}

header>h1{
    float:left;
    margin:auto 30px 0 10px;
    font-size:30px;
    line-height:100px;
    
}

header>ul>li{
    float:left;
    margin-right:20px;
    line-height:100px;
}
header>ul>li:nth-child(3){
    color:yellow;
}

section{
    border:5px solid #333;
}

section>.study>h2{
    color:black;
    margin:30px 10px;
    font-size:25px;    
}

section>.main>p>img{
    float:right;
    width:300px;
    height:auto;
    margin:0 10px 10px;
    box-shadow:3px 3px 5px #dedede;
}

section>.main>p{
    margin:0 10px 30px 10px;
    color:black;
    line-height:20px;
    font-size:14px;   
}

footer{
    height:80px;
    line-height:80px;
    color:white;
    font-size:16px;
    text-align:center;
    background-color:#333;
}